@using System.Security.Claims
@if (Request.IsAuthenticated)
{
    var identity = (ClaimsIdentity)User.Identity;
    var fullNameClaim = identity.Claims.SingleOrDefault(c => c.Type == "FullName");
    var name = fullNameClaim != null ? fullNameClaim.Value : identity.Name;
    
    <div style="color: #9d9d9d; margin-top: 10px;">Inloggad som @name</div>
    <div>@Html.ActionLink(@Resources.Log_Off, "LogOff", "Account", new { }, null)</div>
}
else
{
    @Html.ActionLink(Resources.Log_In, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
}
