@model CCM.Web.Models.Profile.ProfileGroupViewModel

<h2>@ViewData["Title"]</h2>
<hr />

@using (Html.BeginForm("CreateEdit", "ProfileGroup", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.ValidationSummary()
    @Html.AntiForgeryToken()

    <partial name="_ProfileGroup" model="Model" />
}

@section scripts
{
    <script src="~/dist/ccm-form.js"></script>
}