@model IEnumerable<CCM.Core.Entities.Studio>
@{
    Layout = null;
}

<ul class="dropdown-menu ccm-top-navbar-links--dropdown">
    @foreach (var studio in Model)
    {
        <li>@Html.ActionLink(studio.Name, "Index", "StudioMonitor", new { id = studio.Id }, null)</li>
    }
</ul>
