
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<CCM.Web.Properties.Resources> Localizer
@model CCM.Core.Entities.Owner

@{
    ViewData["Title"] = @Localizer["Edit_Owner"];
}

<h2>@Localizer["Edit_Owner"]</h2>
<hr />

@using (Html.BeginForm("Edit", "Owners", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <partial name="_OwnerForm" model="Model" />
}
