
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<CCM.Web.Properties.Resources> Localizer
@model CCM.Web.Models.Location.LocationViewModel

@{
    ViewData["Title"] = @Localizer["New_Location"];
}

<h2>@Localizer["New_Location"]</h2>
<hr />

@using (Html.BeginForm("Create", "Location", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.ValidationSummary()
    @Html.AntiForgeryToken()

    <partial name="_LocationForm" model="Model" />
}
