<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>

  <nlog>
    <variable name="LogFileBaseDir" value="#{LogFolderDiscovery}" xdt:Transform="Replace" xdt:Locator="Match(name)" />
    <rules>
      <logger xdt:Transform="RemoveAll" />
      <logger name="*" minlevel="Info" writeTo="asyncFile" xdt:Transform="Insert" />
    </rules>
  </nlog>

</configuration>
