
@{
    ViewBag.Title = "Debug";
}
<h2>Test</h2>
@Html.ActionLink("Get CCM Users", "GetCCMUsers")
<br />
@Html.ActionLink("Get SIP Accounts", "GetSipAccounts")
<br />
@Html.ActionLink("Who Am I", "WhoAmI")
<br />
@Html.ActionLink("Cache info", "CacheInfo")
<br />
