
@if (categoryStatisticsOverview == null)
{
    <p><em>Loading..</em></p>
}
else
{
    <EditForm Model="@categoryStatisticsModel">
        <div>
            <div>
                <div class="form-group row">
                    <label for="StartDate">Från</label>
                    <InputDate @bind-Value="categoryStatisticsModel.StartTime"></InputDate>
                    <label for="EndDate">Till</label>
                    <InputDate @bind-Value="categoryStatisticsModel.EndTime"></InputDate>
                <button id="buttonGetStatistics" class="btn btn-primary" @onclick="() => GetCategoryStatistics(categoryStatisticsModel.StartTime, categoryStatisticsModel.EndTime)">
                    Get Data
                </button>
                </div>
            </div>




        </div>

    </EditForm>

    @if (categoryStatisticsOverview == null || categoryStatisticsOverview.Count() == 0)
    {
        <td>Loading..</td>
    }
    else
    {
        <tr>
            <td colspan="5">
                <CategoryStatisticsResult DateBasedCategoryStatisticsList="@categoryStatisticsOverview" Regions="@Regions"></CategoryStatisticsResult>
            </td>
        </tr>
    }

}


