<h3>CodecTypeStatisticsOverview</h3>



@if (CodecTypes == null)
{
    <p><em>Loading..</em></p>
}
else
{
    <EditForm Model="@codecTypeStatisticsModel">
        <div>
            <div>
                <div class="form-group row">
                    <label for="StartDate">From</label>
                    <InputDate @bind-Value="codecTypeStatisticsModel.StartTime"></InputDate>
                    <label for="EndDate">To</label>
                    <InputDate @bind-Value="codecTypeStatisticsModel.EndTime"></InputDate>
                </div>
            </div>


  
            <div>
                <label for="CodecType">Codec Type</label>

                <select name="CodecType" @bind="codecTypeStatisticsModel.CodecTypeId">
                    @foreach (var codecType in CodecTypes)
                    {
                        <option value="@codecType.Id">@codecType.Name</option>
                    }
                </select>
            </div>
        </div>

        <button id="buttonGetPerson" class="btn btn-primary" @onclick="() => GetCodecTypeStatistics(codecTypeStatisticsModel.CodecTypeId, codecTypeStatisticsModel.StartTime, codecTypeStatisticsModel.EndTime)">
            Get Data
        </button>
    </EditForm>
    @if (visible)
    {
        <tr>
            <td colspan="5">
                <CodecTypeStatisticsResult CodecTypesStatistics="codecTypeStatisticsOverview"></CodecTypeStatisticsResult>
            </td>
        </tr>
    }
}

