@if (Regions == null)
{
    <p><em>Loading..</em></p>
}
else
{
    <EditForm Model="@regionStatisticsModel">
        <div>
            <div>
                <div class="form-group row">
                    <label for="StartDate">From</label>
                    <InputDate @bind-Value="regionStatisticsModel.StartTime"></InputDate>
                    <label for="EndDate">To</label>
                    <InputDate @bind-Value="regionStatisticsModel.EndTime"></InputDate>
                </div>
            </div>



            <div>
                <label for="Region">Region</label>

                <select name="Region" @bind="regionStatisticsModel.RegionId">
                    @foreach (var region in Regions)
                    {
                        <option value="@region.Id">@region.Name</option>
                    }
                </select>
            </div>
        </div>

        <button id="buttonGetPerson" class="btn btn-primary" @onclick="() => GetRegionStatistics(regionStatisticsModel.RegionId, regionStatisticsModel.StartTime, regionStatisticsModel.EndTime)">
            Get Data
        </button>
    </EditForm>
    @if (visible)
    {
        <tr>
            <td colspan="5">
                <RegionStatisticsResult RegionStatistics ="@regionStatisticsOverview"></RegionStatisticsResult>
            </td>
        </tr>
    }
}
