<CascadingValue Value="this">

    <div class="btn-group" role="group">
        @foreach (Tabs tabPage in Pages)
        {
            <button id="tab-button" type="button"
                    class="btn @GetButtonClass(tabPage)"
                    @onclick=@( () => ActivatePage(tabPage) )>
                @tabPage.Text
            </button>
        }
    </div>
    @ChildContent
</CascadingValue>

@code {

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    public Tabs ActivePage { get; set; }
    List<Tabs> Pages = new List<Tabs>();

    internal void AddPage(Tabs tabPage)
    {
        Pages.Add(tabPage);
        if (Pages.Count == 1)
            ActivePage = tabPage;
        StateHasChanged();
    }

    string GetButtonClass(Tabs page)
    {
        return page == ActivePage ? "btn-primary" : "btn-secondary";
    }
    void ActivatePage(Tabs page)
    {
        ActivePage = page;
    }
}