<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets>
    <!--<target name="asyncFile" type="AsyncWrapper">
      <target name="logfile" xsi:type="File" fileName="${basedir}/logs/CCM.Web ${shortdate}.log" layout="${longdate} ${level:uppercase=true:padding=-7} ${message} ${exception:format=tostring}" />
    </target>-->
    <target name="logDb" xsi:type="Database" dbProvider="MySql.Data.MySqlClient.MySqlConnection, MySqlConnector" connectionString="${configsetting:item=ConnectionStrings.CodecCallMonitorDatabaseContext}">
      <commandText>
        INSERT INTO Logs (Application, Date, Level, LevelValue, Message, CallSite, Exception, ActivityId)
        VALUES ( @application, @date, @level, @levelValue, @message, @callsite, @exception, IFNULL(NULLIF(@activityId,''),'00000000-0000-0000-0000-000000000000') );
      </commandText>
      <parameter name="@application" layout="CCM" />
      <parameter name="@date" layout="${longdate}" />
      <parameter name="@level" layout="${level:format=Name}" />
      <parameter name="@levelValue" layout="${level:format=Ordinal}" />
      <parameter name="@message" layout="${message}" />
      <parameter name="@callSite" layout="${callsite:includeNamespace=false}" />
      <parameter name="@exception" layout="${exception:tostring}" />
      <parameter name="@activityId" layout="${activityid}" />
    </target>
  </targets>
  <rules>
    <!--<logger name="*" minlevel="Info" writeTo="asyncFile" />-->
    <logger name="*" minlevel="Info" writeTo="logDb" />
  </rules>
</nlog>
