<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>

  <nlog>
    <!--<targets>
      <target name="asyncFile" type="AsyncWrapper">
        <target name="logfile"
                fileName="D:\LogFiles\CCM\CCM.Web\log-${shortdate}.log"
                xdt:Locator="Match(name)"
                xdt:Transform="SetAttributes" />
      </target>
    </targets>-->

    <rules>
      <logger xdt:Transform="RemoveAll" />
      <!--<logger name="*" minlevel="Warn" writeTo="asyncFile" xdt:Transform="Insert" />-->
      <logger name="*" minlevel="Info" writeTo="database" xdt:Transform="Insert" />
    </rules>
  </nlog>

</configuration>
