<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
  </system.web>

  <nlog>
    <rules>
      <add xdt:Transform="RemoveAll" />
      <logger name="*" minlevel="Debug" writeTo="asyncFile" xdt:Transform="Insert" />
      <logger name="*" minlevel="Info" writeTo="database" xdt:Transform="Insert" />
    </rules>
  </nlog>

</configuration>
