@model CCM.Web.Models.Meta.MetaFormViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
<hr />

@using (Html.BeginForm("Edit", "Meta", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.Partial("_MetaForm", Model)
}
