@model CCM.Web.Models.Meta.MetaFormViewModel
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<CCM.Web.Properties.Resources> Localizer

@{
    ViewData["Title"] = @Localizer["Edit_MetaType"];
}

<h2>@Localizer["Edit_MetaType"]</h2>
<hr />

@using (Html.BeginForm("Edit", "Meta", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <partial name="_MetaForm" model="Model" />
}
