
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<CCM.Web.Properties.Resources> Localizer
@model CCM.Web.Models.Filter.FilterFormViewModel

@{
    ViewData["Title"] = @Localizer["New_Filter"];
}

<h2>@Localizer["New_Filter"]</h2>
<hr />

@using (Html.BeginForm("Create", "Filter", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <partial name="_FilterForm" model="Model" />
}
